.button{
    outline: none;
    padding: 10px 22px;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: max-content;
    cursor: pointer;
}

.button_sign-up{
    background-color: #65bf95;
    padding: 20px 60px;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
