doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
            .container.cointainer_top-background
                .container__opacity Excepteu roccaecat
                .container__opacity.container__opacity_second sunt culpa officia deserunt
            .container.container_width_full
                .container.container_advantages
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini1.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini6.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini2.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini3.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini4.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
                    .container__advantage
                        .container__advantage-img(style="background: #65bf95 url('img/mini5.png') no-repeat center")
                        .container__advantage-column
                            .container__advantage-title Excepteur sint.
                            .container__advantage-text Coccaecat cupidatat aliqu proident sunt in culpa qui officia deserunt mollit anim.
                            a.link.link_more-info(href="#") more details  →
            .preview
                .preview__img
                .preview__info
                    .preview__title sed do eiusmod tempor incididunt ut labore et dolore.
                    .preview__text Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                    a.link.link_preview-readmore(href="#") More Details ->
            .container.container_sign-up
                .container__title Take Action & buy your copy now!
                .container__subtitle excepteur sint occaecat cupidatat non proiden deserunt mollit anim laborum.
                .button.button_sign-up Sign up now!
        include ../blocks/footer/footer.jade
