noscript
    p Please enable Javascript
    
header.header
    .header_wrapper
        .header__container
            .header__logo Crafty
            .header__nav
                a.link.link_header(href="#") Our Story
                a.link.link_header(href="#") Features
                a.link.link_header(href="#") Journal
                a.link.link_header(href="#") Contact Us
        .header__social
            a.link.link_social(style="background: url('img/facebook.png') no-repeat center" href="#")
            a.link.link_social(style="background: url('img/twitter.png') no-repeat center" href="#")
            a.link.link_social(style="background: url('img/google.png') no-repeat center" href="#")
